doctype html 
html(lang="ru-RU")
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet", href="styles/app.css")
        title Златоустовское телевидение
    body
    include ../layout/header.pug
    include ../layout/news_details.pug
    include ../layout/form.pug
    include ../layout/footer.pug

